*.egg-info
__pycache__
_build
docs/pyglider
dist

*.png
.DS_Store
# SMW: DO NOT COMMIT -----------------------------------

tests/example-data/example-seaexplorer/deploymentRealtimeInterp.yml
tests/example-data/example-seaexplorer/L0-timeseries-test/dfo-eva035-20190718.nc
tests/example-data/example-seaexplorer/L0-timeseries-test-interp/dfo-eva035-20190718.nc
tests/example-data/example-seaexplorer/realtime_rawnc/dfo-eva035-rawgli.parquet
tests/example-data/example-seaexplorer/realtime_rawnc/dfo-eva035-subpld.parquet
tests/example-data/example-seaexplorer/realtime_rawnc/sea035.0012.gli.sub.0036.parquet
tests/example-data/example-seaexplorer/realtime_rawnc/sea035.0012.gli.sub.0037.parquet
tests/example-data/example-seaexplorer/realtime_rawnc/sea035.0012.gli.sub.0038.parquet
tests/example-data/example-seaexplorer/realtime_rawnc/sea035.0012.gli.sub.0039.parquet
tests/example-data/example-seaexplorer/realtime_rawnc/sea035.0012.gli.sub.0040.parquet
tests/example-data/example-seaexplorer/realtime_rawnc/sea035.0012.gli.sub.0041.parquet
tests/example-data/example-seaexplorer/realtime_rawnc/sea035.0012.gli.sub.0042.parquet
tests/example-data/example-seaexplorer/realtime_rawnc/sea035.0012.gli.sub.0043.parquet
tests/example-data/example-seaexplorer/realtime_rawnc/sea035.0012.gli.sub.0044.parquet
tests/example-data/example-seaexplorer/realtime_rawnc/sea035.0012.gli.sub.0045.parquet
tests/example-data/example-seaexplorer/realtime_rawnc/sea035.0012.gli.sub.0046.parquet
tests/example-data/example-seaexplorer/realtime_rawnc/sea035.0012.gli.sub.0047.parquet
tests/example-data/example-seaexplorer/realtime_rawnc/sea035.0012.gli.sub.0048.parquet
tests/example-data/example-seaexplorer/realtime_rawnc/sea035.0012.gli.sub.0049.parquet
tests/example-data/example-seaexplorer/realtime_rawnc/sea035.0012.pld1.sub.0036.parquet
tests/example-data/example-seaexplorer/realtime_rawnc/sea035.0012.pld1.sub.0037.parquet
tests/example-data/example-seaexplorer/realtime_rawnc/sea035.0012.pld1.sub.0038.parquet
tests/example-data/example-seaexplorer/realtime_rawnc/sea035.0012.pld1.sub.0039.parquet
tests/example-data/example-seaexplorer/realtime_rawnc/sea035.0012.pld1.sub.0040.parquet
tests/example-data/example-seaexplorer/realtime_rawnc/sea035.0012.pld1.sub.0041.parquet
tests/example-data/example-seaexplorer/realtime_rawnc/sea035.0012.pld1.sub.0042.parquet
tests/example-data/example-seaexplorer/realtime_rawnc/sea035.0012.pld1.sub.0043.parquet
tests/example-data/example-seaexplorer/realtime_rawnc/sea035.0012.pld1.sub.0044.parquet
tests/example-data/example-seaexplorer/realtime_rawnc/sea035.0012.pld1.sub.0045.parquet
tests/example-data/example-seaexplorer/realtime_rawnc/sea035.0012.pld1.sub.0046.parquet
tests/example-data/example-seaexplorer/realtime_rawnc/sea035.0012.pld1.sub.0047.parquet
tests/example-data/example-seaexplorer/realtime_rawnc/sea035.0012.pld1.sub.0048.parquet
tests/example-data/example-seaexplorer/realtime_rawnc/sea035.0012.pld1.sub.0049.parquet
tests/example-data/example-seaexplorer-raw/deploymentDelayedInterp.yml
tests/example-data/example-seaexplorer-raw/delayed_rawnc/dfo-bb-rawgli.parquet
tests/example-data/example-seaexplorer-raw/delayed_rawnc/dfo-bb-rawpld.parquet
tests/example-data/example-seaexplorer-raw/delayed_rawnc/sea046.0045.gli.sub.0010.parquet
tests/example-data/example-seaexplorer-raw/delayed_rawnc/sea046.0045.gli.sub.0011.parquet
tests/example-data/example-seaexplorer-raw/delayed_rawnc/sea046.0045.gli.sub.0012.parquet
tests/example-data/example-seaexplorer-raw/delayed_rawnc/sea046.0045.gli.sub.0013.parquet
tests/example-data/example-seaexplorer-raw/delayed_rawnc/sea046.0045.gli.sub.0014.parquet
tests/example-data/example-seaexplorer-raw/delayed_rawnc/sea046.0045.pld1.raw.0010.parquet
tests/example-data/example-seaexplorer-raw/delayed_rawnc/sea046.0045.pld1.raw.0011.parquet
tests/example-data/example-seaexplorer-raw/delayed_rawnc/sea046.0045.pld1.raw.0012.parquet
tests/example-data/example-seaexplorer-raw/delayed_rawnc/sea046.0045.pld1.raw.0013.parquet
tests/example-data/example-seaexplorer-raw/delayed_rawnc/sea046.0045.pld1.raw.0014.parquet
tests/example-data/example-seaexplorer-raw/L0-timeseries-test/dfo-bb046-20200908.nc
tests/example-data/example-seaexplorer-raw/L0-timeseries-test-interp/dfo-bb046-20200908.nc
tests/example-data/example-slocum/process_deploymentRealTime.py
tests/example-data/example-slocum/L0-gridfiles/dfo-rosie713-20190615_grid.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T0636.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T0646.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T0657.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T0708.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T0718.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T0729.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T0739.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T0749.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T0800.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T0831.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T0842.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T0853.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T0902.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T0913.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T0923.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T0933.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T0944.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T0954.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T1004.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T1033.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T1044.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T1055.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T1105.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T1115.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T1125.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T1209.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T1220.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T1231.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T1241.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T1252.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T1302.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T1313.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T1323.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T1335.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T1345.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T1415.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T1425.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T1435.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T1445.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T1455.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T1506.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T1516.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T1526.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T1536.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T1546.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T1607.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T1618.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T1627.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T1637.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T1646.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T1656.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T1705.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T1714.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T1723.nc
tests/example-data/example-slocum/L0-profiles/dfo-rosie713-20190620T1732.nc
tests/example-data/example-slocum/L0-timeseries/dfo-rosie713-20190615.nc
tests/example-data/example-slocum/process_deploymentRealTime.py
