name: pyglider
channels:
  - conda-forge
  - defaults
dependencies:
  - python
  - numpy
  - pip
  - xarray
  - dask
  - netcdf4
  - gsw
  - scipy
  - bitstring
  - pooch
  - polars
  - pip:
    - dbdreader<0.4.15
